<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Settings>
	<Email>a.wirthy@gmail.com</Email>
	<MediaFolder>/data/podcasts/</MediaFolder>
	<PodcastDownload Name="To Watch Youtube Audio" ChannelID="ToDownloadAudio" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-MYPLAYLIST.txt" FileQuality="best" ChannelThumbnail="https://yt3.ggpht.com/ytc/AMLnZu8TMglgWacF6opohoPRkRq24r0dPQbtamRjn0xD=s108-c-k-c0x00ffffff-no-rj" YouTubeURL="https://www.youtube.com/playlist?list=PLNJTvO4HBij-As-16otoDkTMhSiQ0cyP_" />
	<PodcastDownload Name="To Watch Youtube Audio MP3" ChannelID="ToDownloadAudio" FileFormat="mp3" DownloadArchive="/config/youtube-dl-archive-MYPLAYLIST.txt" FileQuality="best" ChannelThumbnail="https://yt3.ggpht.com/ytc/AMLnZu8TMglgWacF6opohoPRkRq24r0dPQbtamRjn0xD=s108-c-k-c0x00ffffff-no-rj" YouTubeURL="https://yt3.ggpht.com/ytc/AMLnZu8TMglgWacF6opohoPRkRq24r0dPQbtamRjn0xD=s108-c-k-c0x00ffffff-no-rj" />
	<PodcastDownload Name="To Watch Youtube Video" ChannelID="ToDownload" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-MYPLAYLIST.txt" FileQuality="best" ChannelThumbnail="https://yt3.ggpht.com/ytc/AMLnZu8TMglgWacF6opohoPRkRq24r0dPQbtamRjn0xD=s108-c-k-c0x00ffffff-no-rj" YouTubeURL="https://www.youtube.com/playlist?list=PLNJTvO4HBij-9ZC97gjGR9JXObE_g_XDm" />
	<PodcastDownload Name="Biographics" ChannelID="Biographics" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UClnDI2sdehVm1zm_LmUHsjQ/videos" />
	<PodcastDownload Name="Dan Murrell" ChannelID="DanMurrell" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UCbiOAho0h23IMInURiESx1w/videos" />
	<PodcastDownload Name="Emergency Awesome" ChannelID="EmergencyAwesome" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UCDiFRMQWpcp8_KD4vwIVicw/videos" />
	<PodcastDownload Name="Epic Rap Battles" ChannelID="ERB" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UCMu5gPmKp5av0QCAajKTMhw/videos" />
	<PodcastDownload Name="FilmJoy" ChannelID="FilmJoy" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UCEtB-nx5ngoNJWEzYa-yXBg/videos" />
	<PodcastDownload Name="Honest Trailers" ChannelID="HonestTrailers" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/playlist?list=PL86F4D497FD3CACCE" />
	<PodcastDownload Name="Playstation Access" ChannelID="PSAccess" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/user/PlayStationAccess/videos" />
	<PodcastDownload Name="Hot Ones" ChannelID="HotOnes" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/playlist?list=PLAzrgbu8gEMIIK3r4Se1dOZWSZzUSadfZ" />
	<PodcastDownload Name="MediaWatch" ChannelID="MediaWatch" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/playlist?list=PLDTPrMoGHssBtV3J7BBLZAuY9U5UX92mt" />
	<PodcastDownload Name="MegaProjects" ChannelID="MegaProjects" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UC0woBco6Dgcxt0h8SwyyOmw/videos" />
	<PodcastDownload Name="Philip DeFranco Show" ChannelID="PDS" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UClFSU9_bUb4Rc6OYfTt5SPw/videos" />
	<PodcastDownload Name="Shaqtin a Fool" ChannelID="Shaqtin" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/playlist?list=PLU6BYY1Lu_feVbuZEscpd6xT32zCrVrev" />
	<PodcastDownload Name="thejuicemedia" ChannelID="thejuicemedia" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UCKRw8GAAtm27q4R3Q0kst_g/videos" />
	<PodcastDownload Name="Inside Games" ChannelID="InsideGames" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/channel/UCFHQlasvjQ0JMOHoKOz4c0g/videos" />
	<PodcastDownload Name="Side Projects" ChannelID="Sideprojects" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/c/Sideprojects/videos" />
	<PodcastDownload Name="Today I Found Out" ChannelID="TodayIFoundOut" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/c/Todayifoundout-official" />
	<PodcastDownload Name="Cinema Therapy" ChannelID="CinemaTherapy" FileFormat="mp4" DownloadArchive="/config/youtube-dl-archive-ALL.txt" FileQuality="best" ChannelThumbnail="" YouTubeURL="https://www.youtube.com/@CinemaTherapyShow/videos" />
	<PodcastsNotifty Name="PlayStation Access" YouTubeURL="https://www.youtube.com/@PlayStationAccess/streams" />
	<PodcastsNotifty Name="Chilled Chaos" YouTubeURL="https://www.youtube.com/c/ChilledChaosGAME/videos" />
	<PodcastsNotifty Name="Philosophy Insights" YouTubeURL="https://www.youtube.com/@PhilosophyInsights/videos" />
	<PodcastsNotifty Name="Playstation Australia" YouTubeURL="https://www.youtube.com/@PlayStationAU/videos" />
	<PodcastsNotifty Name="Reason" YouTubeURL="https://www.youtube.com/@ReasonTV/videos" />
	<PodcastsNotifty Name="Jordan Peterson" YouTubeURL="https://www.youtube.com/c/JordanPetersonVideos/videos" />
	<PodcastsNotifty Name="Nate The Lawyer" YouTubeURL="https://www.youtube.com/c/NateTheLawyer/videos" />
	<PodcastsNotifty Name="Hoeg Law" YouTubeURL="https://www.youtube.com/c/HoegLaw/videos" />
	<PodcastsNotifty Name="Bruce Greene" YouTubeURL="https://www.youtube.com/c/BruceGreene/videos" />
	<PodcastsNotifty Name="Lawrence Sonntag" YouTubeURL="https://www.youtube.com/c/LawrenceSonntag/videos" />
	<PodcastsNotifty Name="Drivetribe" YouTubeURL="https://www.youtube.com/c/Drivetribe/videos" />
	<PodcastsNotifty Name="ServeTheHome" YouTubeURL="https://www.youtube.com/@ServeTheHomeVideo/videos" />
	<PodcastsNotifty Name="Jon Sandman" YouTubeURL="https://www.youtube.com/@JonSandman/videos" />
</Settings>